<!DOCTYPE html>
<html>
<head>
  <title>Image Search</title>
</head>
<body>
  <h1>Search Results</h1>
  <ul>
    {% for item in items %}
    <li>{{ item.data[0].title }}</li>
    {% else %}
    <li>No items.</li>
    {% endfor %}
  </ul>
  <a href="/">Back</a>
</body>
</html>
