<!DOCTYPE html>
<html>
<head>
  <title>NASA APIs</title>
</head>
<body>
  <h1>NASA API Demos</h1>
  <ul>
    <li><a href="/meteors/html">Near Earth Objects</a></li>
    <li><a href="/latest-rover-image-form">Latest Mars Rover Image</a></li>
    <li><a href="/apod">Astronomy Picture of the Day</a></li>
    <li><a href="/epic">EPIC Earth Images</a></li>
    <li><a href="/eonet">EONET Events</a></li>
    <li><a href="/donki">Space Weather (DONKI)</a></li>
    <li><a href="/image-search">Image Search</a></li>
  </ul>
</body>
</html>
