<!DOCTYPE html>
<html>
<head>
  <title>Latest Rover Image</title>
</head>
<body>
  <h1>Latest Image from the Mars Rover</h1>
  <p>User ID: {{ userId }}</p>
  <p>User Name: {{ userName }}</p>
  <img src="{{ latestImage }}" alt="Latest Image from Rover">
  <br><br>
  <a href="/latest-rover-image-form">Go back to form</a>
</body>
</html>